:root {
    --dark: #1D1F22;
    --green: #5ECE7B;
    color: var(--dark);
    font-family: 'Raleway';
}

.menu>li.active {
    color: var(--green);
    border-bottom: solid var(--green) 2px;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px
}

.menu>li {
    font-weight: 600;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.rightside-header {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px
}

.cart-container {
    position: relative;
}

.cart-container>img {
    height: 20px;
}

.cart-details {
    background-color: white;
    width: 400px;
    position: absolute;
    top: 31px;
    right: -20px;
    box-shadow: 0 0 10px 3px lightgray;
    z-index: 1;
}

.cart-details-card {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-details-left{
    width: 180px;
}

.cart-details-title {
    margin: 20px 10px;
    font-weight: 700;
}

.cart-details-name,
.cart-details-brand {
    margin: 10px;
}

.cart-details-price {
    margin: 10px;
    font-weight: 500;
}

.cart-details-attribute-value {
    margin: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    font-size: 14px;
    height: 32px;
    width: 32px;
}

.cart-details-attribute-values{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-details-attribute-name {
    margin: 10px;
    font-size: 14px;
}

.cart-details-color-container {
    margin: 0 0 0 10px;
    height: 20px;
    width: 20px;
}

.cart-details-color-pick{
    height: 18px;
    width: 18px;
}

.cart-details-quantity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.cart-details-count {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.cart-details-number {
    text-align: center;
}

.cart-details-photo>img{
    width: 180px;
}

.number-products-cart {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 12px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 12px;
    top: -8px;
    cursor: default;
}

.currency-field {
    cursor: default;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.drop-currency-field {
    cursor: default;
    padding-left: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.drop-currency-field:hover {
    background-color: #EEEEEE;
}

.currency-field>img {
    height: 10px;
}

.dropdown-menu {
    pointer-events: none;
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 60px;
    box-shadow: 0 0 10px 3px lightgray;
}

.dropdown-menu.active {
    background-color: white;
    pointer-events: all;
    opacity: 1;
    z-index: 2;
}

.dropdown-menu>li {
    font-size: 18px;
    font-weight: 500;
    height: 40px;
}

.git-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1000ms;
}

.git-logo:hover {
    transform: rotate(360deg);
}