:root {
    --dark: #1D1F22;
    --green: #5ECE7B;
    color: var(--dark);
    font-family: 'Raleway';
}

.menu>li.active {
    color: var(--green);
    border-bottom: solid var(--green) 2px;
}

header {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.menu {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px
}

.menu>li {
    font-weight: 600;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.rightside-header {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px
}

.cart-container {
    position: relative;
}

.cart-container>img {
    height: 20px;
}

.cart-details {
    background-color: white;
    width: 440px;
    max-height: calc(100vh - 80px);
    position: absolute;
    top: 51px;
    right: -20px;
    box-shadow: 0 0 10px 3px lightgray;
    z-index: 2;
    overflow-y: scroll;
}

.cart-details-card {
    margin: 30px 0;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 180px 60px 180px;
    justify-content: center;
    align-items: stretch;
}

.cart-details-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 180px;
}

.cart-details-title {
    margin: 20px 10px;
    font-weight: 700;
}

.cart-details-span {
    font-weight: 400;
}

.cart-details-name,
.cart-details-brand {
    margin: 10px;
}

.cart-details-price {
    margin: 10px;
    font-weight: 500;
}

.cart-details-attribute-value {
    cursor: default;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    font-size: 13px;
    height: 32px;
    width: 32px;
}

.cart-details-attribute-value:hover {
    background-color: rgb(235, 235, 235);
}

.cart-details-attribute-value.actived {
    background-color: black;
    color: white;
}

.cart-details-attribute-values {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-details-attribute-name {
    margin: 10px;
    font-size: 14px;
}

.cart-details-color-container {
    border: solid 1px #FFFFFF;
    margin: 0 0 0 10px;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-details-color-container:hover {
    border: solid 1px #5ECE7B
}

.cart-details-color-container.actived {
    border: solid 1px #5ECE7B;
}

.cart-details-color-pick {
    pointer-events: none;
    height: 18px;
    width: 18px;
}

.cart-details-quantity {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart-details-count {
    cursor: default;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    font-weight: 500;
}

.cart-details-count:hover {
    background-color: rgb(235, 235, 235);
}

.cart-details-count:active {
    color: white;
    background-color: black;
}

.cart-details-number {
    text-align: center;
    font-weight: 500;
}

.cart-details-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-details-photo>img {
    width: 180px;
}

.cart-details-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cart-details-price {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-details-total {
    font-family: 'Roboto Condensed';
    font-weight: 500;
}

.cart-details-totalprice {
    font-weight: 700;
}

.cart-details-buttons {
    width: 93%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-details-viewbag {
    border: solid 1px black;
    background-color: #FFFFFF;
    width: 48%;
    height: 43px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}

.cart-details-viewbag:hover {
    background-color: rgb(245, 245, 245);
}

.cart-details-viewbag:active {
    background-color: rgb(235, 235, 235);
}

.cart-details-checkout {
    border: none;
    background-color: #5ECE7B;
    box-shadow: 0 0 4px 0px #5ECE7B;
    color: #EEEEEE;
    width: 48%;
    height: 43px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}

.cart-details-checkout:hover {
    box-shadow: none;
}

.cart-details-checkout:active {
    background-color: #47c769;
}

.number-products-cart {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 12px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 12px;
    top: -8px;
    cursor: default;
}

.currency-field {
    cursor: default;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.drop-currency-field {
    cursor: default;
    padding-left: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.drop-currency-field:hover {
    background-color: #EEEEEE;
}

.currency-field>img {
    height: 10px;
}

.dropdown-menu {
    pointer-events: none;
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 60px;
    box-shadow: 0 0 10px 3px lightgray;
}

.dropdown-menu.active {
    background-color: white;
    pointer-events: all;
    opacity: 1;
    z-index: 3;
}

.dropdown-menu>li {
    font-size: 18px;
    font-weight: 500;
    height: 40px;
}

.git-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1000ms;
}

.git-logo:hover {
    transform: rotate(360deg);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}