.pdp-container {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}

.details {
    width: 305px;
}

.small-photo {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    object-fit: contain;
    transition: 200ms;
}

.small-photo:hover {
    transform: scale(1.1);
}

.main-image {
    height: 480px;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
}

.product-title {
    font-size: 30px;
    font-weight: 600;
}

.product-brand {
    margin: 0 0 40px 0;
    font-size: 30px;
    font-weight: 400;
}

.attribute-name {
    margin: 0;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 18px;
}

.attribute-pack {
    margin: 20px 0;
}

.attribute-values {
    display: flex;
    gap: 15px;
}

.attribute-value {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    border: solid 1px black;
    width: 63px;
    height: 45px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
}

.attribute-value:hover {
    color: white;
    background-color: black;
    cursor: default;
}

.attribute-value.active {
    color: white;
    background-color: black;
}

.color-container {
    border: solid 1px rgb(255, 255, 255);
    margin: 5px 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-container:hover {
    border: solid 1px #5ECE7B;
}

.color-container.active {
    border: solid 1px #5ECE7B;
}

.color-pick {
    width: 28px;
    height: 28px;
}

.price-container {
    margin: 40px 0;
}

.price-value {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
}

.buy-button {
    margin: 0 0 40px 0;
    border: none;
    box-shadow: 0 0 4px 0px #5ECE7B;
    background-color: #5ECE7B;
    color: white;
    width: 305px;
    height: 52px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
}

.buy-button:hover {
    box-shadow: none
}

.description-container {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.description-container>p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.description-container>h1 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
}

.description-container>h3 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
}