.category {
    margin: 50px;
    font-size: 42px;
    font-weight: 400;
}

.products {
    margin: 120px 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.product-card {
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 450px;
    transition: 500ms;
}

.product-card:hover {
    box-shadow: 0 0 10px 3px lightgray;
}

#out-of-stock {
    opacity: 0.5;
}

.product-card>.out-of-stock {
    pointer-events: none;
    position: absolute;
    top: 180px;
    color: #8D8F9A;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 24px;
}

.product-img {
    pointer-events: none;
    width: 360px;
    height: 360px;
    object-fit: contain;
}

.product-info {
    pointer-events: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product-info>p {
    margin: 5px 0;
    font-size: 18px;
}

.product-name {
    pointer-events: none;
    cursor: default;
    font-weight: 300;
}

.product-price {
    pointer-events: none;
    cursor: default;
    font-weight: 500;
}

.cart-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5ece7c00;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    left: 320px;
    bottom: 52px;
    transition: 200ms;
    pointer-events: none;
}

.cart-circle>svg {
    pointer-events: none;
}

.cart-circle-img {
    color: white;
}

.product-card:hover>.cart-circle {
    background-color: #5ECE7B;
}

#out-of-stock:hover>.cart-circle {
    display: none;
}